@media only screen and (max-width: 1000px) {
    body {
        font-size: 2em;
    }
    input, button, .file-input, a.button {
        font-size: 1em;
    }
    #logo {
        max-width: 50%;
    }
    #header {
        height: 100px;
    }
    .post .post-head {
        flex-direction: column;
    }
}