body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
body h1 {
    text-align: center;
}
#post-list {
    padding-top: 10px;
    flex-grow: 1;
    overflow-y: scroll;
    width: 100vw;
}
.post {
    width: 100%;
    background-color: var(--background-secondary);
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.1s;
    margin-bottom: 5px;
    border: 2px solid var(--accent);
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.post-body:after{
    content: "";
    position: absolute; top: 0; bottom: 0; left: -15px; right: -15px;
    box-shadow: inset var(--background-secondary) 0 -15px 10px;
}
.post:hover {
    border: 2px solid var(--accent-secondary);
    cursor: pointer;
}

.post-body, .post-title {
    overflow-wrap: break-word;
    min-width: 0;
}
.post-body {
    max-height: 10vh;
    overflow-y: hidden;
    padding: 10px;
    position: relative;
    overflow-x: hidden;
}
.post-body * {
    text-align: left;
}
.post .post-head {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 2em;
    background-color: var(--background);
    padding: 10px;
}
.post .post-head .post-meta {
    flex-grow: 1;
    text-align: right;
    font-size: 0.5em;
    font-weight: normal;
}
.post-meta {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    white-space: nowrap;
}
.post-meta a {
    color: inherit;
}
.post-meta img {
    height: 2em;
}
.post-images {
    height: 25vh;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}
.post-images img {
    height: 100%;
    flex-grow: 1;
    object-fit: contain;
}
.end-message {
    text-align: center;
    margin: 25px;
    font-size: 2em;
}
.fetch-error {
    text-align: center;
}