body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
body h1 {
    text-align: center;
}
#post-list {
    padding-top: 10px;
    flex-grow: 1;
    overflow-y: scroll;
    width: 100vw;
}
.post {
    width: 100%;
    background-color: var(--background-secondary);
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.1s;
    margin-bottom: 5px;
    border: 2px solid var(--accent);
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.post:hover {
    border: 2px solid var(--accent-secondary);
    cursor: pointer;
}

.post-body, .post-title {
    overflow-wrap: break-word;
    min-width: 0;
}
.post-body {
    max-height: 10vh;
    overflow-y: hidden;
}
.post .post-head {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 2em;
}
.post .post-head .post-meta {
    flex-grow: 1;
    text-align: right;
    font-size: 0.5em;
    font-weight: normal;
}
.end-message {
    text-align: center;
    margin: 25px;
    font-size: 2em;
}
.fetch-error {
    text-align: center;
}