body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
#post-list {
    flex-grow: 1;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}
.post {
    width: 100%;
    background-color: var(--background-secondary);
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.1s;
    border: 2px solid var(--background-secondary);
}
.post:hover {
    border: 2px solid var(--accent);
    cursor: pointer;
}
.post .post-head {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 2em;
}
.post .post-head .post-poster-title {
    flex-grow: 1;
    text-align: right;
    font-size: 0.5em;
    font-style: italic;
    font-weight: normal;
}