body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
#post-head {
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}
#poster {
    font-weight: normal;
    font-style: italic;
    flex-grow: 1;
    text-align: right;
}
#post-body {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}