<!DOCTYPE html>
<html>
    <head>
        <title>My Account | Nonsensical.net</title>
        <link rel="stylesheet" href="/static/css/vars.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/pages/account.css">
    </head>
    <body>
        <iframe src="/header" id="header"></iframe>

        <h1>My Profile</h1>
        <a href="/user/{{username}}" class="button">Public Page</a>

        <div id="account-settings">
            <h2>{{username}}</h2>
            <form action="/updatepfp" method="post" enctype="multipart/form-data">
                <img class="pfp" src="/pfp/{{username}}.png">
                <label for="pfp" class="file-input">Select new PFP</label>
                <input type="file" id="pfp" name="pfp" 
                accept="image/png"
                multiple="no" onchange="document.getElementById('pfp-submit').click()">
                <input type="submit" value="Update Profile Picture" hidden id="pfp-submit">
            </form>
        </div>

        <div id="tokens">
            <h2>Signed In Devices</h2>
            <a href='/deletealltokens' class="button">Sign Out Everywhere</a>
            {% for token in tokens %}
            <div class="token">
                {% if token['token'] == active_token %}
                <div class="active-indicator">This Device</div>
                {% endif %}
                <div class="token-platform">{{token["platform"]}}</div>
                <div class="token-browser">{{token["browser"]}}</div>
                <a href="/deletetoken/{{token['token']}}" class="button">Sign Out</a>
            </div>
            {% endfor %}
        </div>

    </body>
</html>