<!DOCTYPE html>
<html>
    <head>
        <title>Nonsensical.net</title>
        <link rel="stylesheet" href="/static/css/vars.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/pages/one-pager.css">
    </head>
    <body id="one-pager">
        <div class="fullscreen-center">
            <h1>{{error_header}}</h1>
            <p>{{error_message}}</p>
            <a href="{{error_link}}">{{error_link_text}}</a>
        </div>
    </body>
</html>