<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/vars.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/pages/header.css">
        <link rel="stylesheet" href="/static/css/mobile.css">
        <base target="_parent">
    </head>
    <body>
        <img onclick="parent.document.location.href = '/'" src="/static/img/text.svg" id="logo">

        <div class="spacer"></div>

        {% if username|length %}

        <a href="/newpost">New Post</a>
        <br>
        <a href="/account" class="link">{{username}}</div>

        {% else %}

        <a href="/login">Login/Signup</a>

        {% endif %}
    </body>
</html>