<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/vars.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/pages/list.css">
        <link rel="stylesheet" href="/static/css/pages/{% block morecss %}{% endblock %}.css">
        <link href="/static/css/pattern.min.css" rel="stylesheet">
    </head>
    <body class="pattern-diagonal-lines-md">
        <iframe src="/header" id="header"></iframe>

        

        <div id="post-list">
        {% block head %}{% endblock %}

        </div>

        <script src="/static/js/common.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
        <script type="text/javascript">
            const converter = new showdown.Converter();

            const postList = document.getElementById("post-list");
            const startingTime = Math.floor(Date.now() / 1000); // Keeping a consistent time allows results to be deterministic

            var isLoadingPosts = false;
            var postPage = 0

            const postsPerPage = 10;

            const mode = "{% block mode %}{% endblock %}";
            const extra = "{% block extra %}{% endblock %}";

            function showFetchError() {
                const error = document.createElement("div");
                error.className = "fetch-error";
                
                const errorMessage = document.createElement("div");
                errorMessage.innerText = "Failed to get (more) posts."
                errorMessage.className = "fetch-error-message";
                error.appendChild(errorMessage);

                const retryButton = document.createElement("button");
                retryButton.innerText = "Retry"
                retryButton.className = "fetch-retry-button";
                retryButton.onclick = () => {
                    error.remove();
                    isLoadingPosts = false;
                    addPosts();
                }
                error.appendChild(retryButton);

                postList.appendChild(error);
            }

            function showEndMessage() {
                const message = document.createElement("div");
                message.className = "end-message";
                message.innerText = "You've seen it all!"

                postList.appendChild(message);
            }

            function addPosts() {
                if (isLoadingPosts) return;
                isLoadingPosts = true;
                fetch(`/posts?page=${postPage}&startTime=${startingTime}&mode=${mode}&extra=${extra}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    postPage++;
                    data["posts"].forEach((post, i, a) => {
                        const postElement = document.createElement("div");
                        postElement.className = "post";

                        const postHead = document.createElement("div");
                        postHead.className = "post-head";
                        postElement.appendChild(postHead);

                        const postTitle = document.createElement("div");
                        postTitle.className = "post-title";
                        postTitle.innerText = post["title"];
                        postHead.appendChild(postTitle);

                        var postTime = stringDateToRelativeStringDate(post["creation"]);
                        const postMeta = document.createElement("div");
                        postMeta.className = "post-meta";
                        postMeta.innerText = `Posted ${postTime} by `;
                        postMeta.innerHTML += `<a href="/user/${post["owner"]}">${post["owner"]}</a>`
                        postMeta.innerHTML += `<img src="/pfp/${post["owner"]}.png">`
                        postHead.appendChild(postMeta);

                        if(post["body"].replaceAll(" ", "").length != 0) {
                            const postBody = document.createElement("div");
                            postBody.className = "post-body";
                            postBody.innerHTML = converter.makeHtml(escapeHTML(post["body"]));
                            postElement.appendChild(postBody);
                        }

                        if (post["files"].length > 0) {
                            const postImages = document.createElement("div");
                            postImages.className = "post-images";
                            post["files"].forEach((filename, i, a) => {
                                if (imageTypes.includes(getFileType(filename))) {
                                    const imageEl = document.createElement("img");
                                    imageEl.src = `/postmedia/${post["id"]}/${filename}`
                                    postImages.appendChild(imageEl);
                                }
                            });
                            postElement.appendChild(postImages);
                        }

                        postList.appendChild(postElement);

                        postElement.onclick = (event) => {
                            document.location.href = `/posts/${post["id"]}`;
                        }
                    });
                    if (data["posts"].length < postsPerPage) {
                        showEndMessage();
                    }
                    else {
                        isLoadingPosts = false;
                        postList.onscroll(); // Display more posts if we are still not scrolling
                    }
                })
                .catch(error => {
                    console.log(error)
                    showFetchError();
                })
            }

            postList.onscroll = () => {
                if (isLoadingPosts) return;

                if (Math.ceil(postList.clientHeight + postList.scrollTop) >= postList.scrollHeight) {
                    addPosts();
                }
                
            };

            addPosts();
        </script>
    </body>
</html>