<!DOCTYPE html>
<html>
    <head>
        <title>Login/Signup | Nonsensical.net</title>
        <link rel="stylesheet" href="/static/css/vars.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/pages/one-pager.css">
    </head>
    <body id="one-pager">
        <div class="fullscreen-center">
            <h1>Nonsensical.net</h1>
            <form action="/login" method="post">

                <label for="username">Username</label>
                <br>
                <input type="text" id="username" name="username" placeholder="Username">
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" name="password" placeholder="Password">
                <br>
                <input type="submit" name="action" value="Sign Up">
                <input type="submit" name="action" value="Log In">

            </form>
        </div>
    </body>
</html>