<!DOCTYPE html>
<html>
    <head>
        <title>Login/Signup | Nonsensical.net</title>
        <link rel="stylesheet" href="/static/css/vars.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/pages/one-pager.css">
        <link href="/static/css/pattern.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/mobile.css">
    </head>
    <body id="one-pager" class="pattern-zigzag-md">
        <div class="fullscreen-center">
            <img src="/static/img/text.svg" id="logo">
            <form action="/login" method="post">

                <label for="username">Username</label>
                <br>
                <input type="text" id="username" name="username" placeholder="Username" maxlength="15">
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" name="password" placeholder="Password">
                <br>
                <input type="submit" name="action" value="Sign Up">
                <input type="submit" name="action" value="Log In">

            </form>
        </div>
    </body>
</html>