<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | Nonsensical.net</title>
        <link rel="stylesheet" href="/static/css/vars.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/pages/post.css">
    </head>
    <body>
        <iframe src="/header" id="header"></iframe>

        <div id="post-head">
            <div id="post-title">
                {{title}}
            </div>
        </div>

        <div id="poster"></div>

        {% if files|length %}
        <div id="media">

            {% if files|length > 1 %}
            <div id="file-list">
                {% for file in files %}
                    <div class="file-list-button" id="{{file}}-button" onclick="openFile('{{file}}')">{{file}}</div>
                {% endfor %}
            </div>
            {% endif %}

            <div id="file-view">
                {% for file in files %}
                    <div class="file" id="{{file}}" filename="{{file}}"></div>
                {% endfor %}
            </div>
            
            
        </div>

        {% endif %}

        {% if body|length %}
        <div id="post-body">
            <div id="post-body-content"></div>
        </div>
        {% endif %}

        {% if is_owned %}
        <div id="controls">
            <a class="button" href="{{post_id}}/edit">Edit</a>
            <a class="button" href="{{post_id}}/delete">Delete</a>
        </div>
        {% endif %}
        <script src="/static/js/common.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
        <script type="text/javascript">
            const converter = new showdown.Converter();
            const body = document.getElementById("post-body-content")
            if (body) body.innerHTML = converter.makeHtml(`{{body}}`);

            const fileElements = document.getElementsByClassName("file");

            for (let i = 0; i < fileElements.length; i++) {
                const element = fileElements[i];
                element.appendChild(constructFileElement(element.getAttribute("filename"), "{{post_id}}"))
                if (i == 0) openFile(element.getAttribute("filename"));
            }

            document.getElementById("poster").innerText = `Posted ${stringDateToRelativeStringDate("{{date}}")} by`;
            document.getElementById("poster").innerHTML += " <a href='/users/{{poster}}'>{{poster}}</a>"

            function openFile(filename) {
                const selected = document.querySelector(".selected");
                if (selected) {
                    selected.classList.remove("selected");
                }
                const selectedButton = document.querySelector(".selected-button");
                if (selectedButton) {
                    selectedButton.classList.remove("selected-button");
                }
                document.getElementById(filename).classList.add("selected");
                const button = document.getElementById(filename + "-button");
                if (button) button.classList.add("selected-button");
            }

        </script>

    </body>
</html>