<!DOCTYPE html>
<html>
    <head>
        <title>Nonsensical.net</title>
        <link rel="stylesheet" href="/static/css/vars.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/pages/post.css">
    </head>
    <body>
        <iframe src="/header" id="header"></iframe>

        <div id="post-head">
            <div id="post-title">
                {{title}}
            </div>
            <div id="poster">
                {{poster}}
            </div>
        </div>

        <div id="post-body">
            {{body}}
        </div>

        <iframe src="/footer" id="footer"></iframe>
    </body>
</html>